<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thermostat</title>
  <link rel="stylesheet" href="../views/stylesheet.css">
  <script src="../interface.js"></script>
  
</head>
<body>
  <h1>Thermostat</h1>
  <h2 id ='temperature' class='medium-usage'></h2>
 <h3> Powersave mode is <span id="power-save-status">on</span> </h3>
  <br>
  <h3 id="current-temp"></h3>
  <select id="current-city">
    <option value="London">London</option>
    <option value="New york">New York</option>
    <option value="Paris">Paris</option>
    <option value="Tokyo">Tokyo</option>
    <option value="Seoul">Seoul</option>
    <option value="Manila">Manila</option>
  </select>
  <br>
  <button id='up'>+</button>
  <button id='down'>-</button>
  <button id='reset'>reset</button>
  <button id='PSM_on'>Powersave On</button>
  <button id='PSM_off'>Powersave Off</button>

  <script src="../src/thermostat.js"></script>
</body>
</html>