<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thermostat</title>
</head>
<body>
  <h1>Thermostat</h1>
  <h2><script>thermostat.temperature</script></h2>
  <h3><script>`Powersave mode is: ${thermostat.powersave}`</script></h3>
  <button id='up'>+</button>
  <button id='down'>-</button>
  <button id='reset'>reset</button>
  <button id='energy_usage'>Energy Usage</button>
  <button id='PSM_on'>Powersave On</button>
  <button id='PSM_off'>Powersave Off</button>

  <script src="src/thermostat.js"></script>
</body>
</html>